.App {
  text-align: center;
}
.Header{
  color: azure;
}
.Main-Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;

}

.Score-Card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(223, 219, 219);
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0 4px 9px rgba(250, 5, 241, 0.2)
}



.Change-color {
  color: red;
  font-weight: bolder;
  font-size: 35px;
}

.Last-Ball-Played {
  display: flex;
}

.Last-Ball-Played>div {
  display: flex;
  background-color: #282c34;
  margin-bottom: 15px;
  min-width: 150px;
  justify-content: center;
  align-items: center;
}

.Last-Ball-Played h1 {
  margin-right: 10px;
  color: aliceblue;
  font-size: xx-large;
}

.Last-Ball-Played>div h1:last-child {
  margin-right: 10px;
}

@media screen and (max-width:"768px") {
  .Last-Ball-Played h1 {
    margin-right: 20px;

  }
}

.Play-Buttons {
  margin-top: 2%;

}

.Opponent-Button {
  height: 45px;
  background-color: #bae35b;
  border-radius: 8px;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.Opponent-Button:hover {
  height: 45px;
  background-color: rgb(173, 244, 51);
  border-radius: 8px;
  font-size: large;
  font-weight: bolder;
}
.Wait_Box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(223, 219, 219);
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.Play-Ball-Button {
  height: 45px;
  background-color: #bae35b;
  border-radius: 8px;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.Playing-Ball-Button {
  height: 45px;
  background-color: #bae35b;
  border-radius: 8px;
  font-size: large;
  font-weight: bolder;
}
.disabledBts{
  color : black
}

.Play-Ball-Button:hover {
  height: 45px;
  background-color: rgb(173, 244, 51);
  border-radius: 8px;
  font-size: large;
  font-weight: bolder;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}